{
    "streamlabsURL": "",
    "streamlabsApiKey": "",
    "brbSceneName": "",
    "brbBitrateThreshold": 0,
    "bitrateStatURL": "",
    "irlSources": [
        {
            "name": "",
            "enabledScenes": [""],
            "defaultScene": "",
            "restreamKey": "",
            "lowBitrateSource": "",
            "bitrateThreshold": 0
        }
    ]
}


