{
    "streamlabsURL": "",
    "streamlabsApiKey": "",
    "irlScenesName": "",
    "brbSceneName": "",
    "bitrateStatURL": "",
    "sources": [
        {
            "enabledScene": "",
            "restreamKey": "",
            "inputStreamSource": "",
            "lowBitrateSource": "",
            "bitrateThreshold": 0
        }
    ]
}


